#background {
  position:fixed;
  inset: 0;
  z-index: -1; /*pra jogar os elementos para trás*/
  width: 100%;
  height: 100%;
}
/* Definições do vídeo*/
#background video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#background::after{/* sombra do vídeo*/
  content: '';

  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  /*Background para fazer a sombra no entorno do vídeo*/
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);

}